html {
    display: flex;
    justify-content: center;
    width: 1280px;
}

.first-half {
    color: black
}

.second-half {
    color: #4BCAFF;
}

.ramda-js {
    font-family: Roboto;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 350px;
}

.nav-header-container {
    height: 69px;
    background-color: #35444F;
    margin: 40px auto 0;
    margin-left: 350px;
}

.nav-header-list {
    display: flex;
    justify-content: center;
    height: 69px;
    line-height: normal
}

.nav-header-item {
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 30px;
}

.nav-header-item:hover {
    background-color: #222F3A;
}

.nav-header-item a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: normal;
}

.left-right-sidebars{
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    padding-top: 40px;
}

.left-sidebar-nav {
    border: 1px solid black;
    width: 344px;
    height: 324px;
}

.left-sidebar-list{
    display: flex;
    flex-direction: column;
}

.left-sidebar-item {
    width: 342px;
    height: 81px;
}

.left-sidebar-item:hover {
    background-color: #DBDBDB;
    padding-left: 20px;
    width: 324px;
    color: black;
}

.left-sidebar-item a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 27px;
    font-size: 27px;
    font-weight: 400;
    color: #485863;
    margin-left: 44px;
    line-height: 75px;
}

.right-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    margin-left: 46px;
    margin-bottom: 30px;
}

.right-sidebar img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.right-sidebar:hover img {
    transform: scale(1.2);
}

.image-container:not(:hover) img {
    transform: scale(1,2);
}

.text-under-picture {
    margin-left: 392px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.first_p {
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 69px;
    background-color: #B5B7BA;
    margin: 40px auto 0;
    margin-left: 350px;
    margin-bottom: 40px;
}

.nav-footer-list {
    display: flex;
    flex-wrap: nowrap;
    height: 69px;
    line-height: normal
}

.nav-footer-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    margin-left: 10px;
}

.nav-footer-item a {
    text-decoration: none;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.nav-footer-item:hover a{
    color: #3181A6;
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
	align-items: center;
    color: #0C1927;
    font-family: Roboto;
    font-size: 22px;
    margin-left: 108px;
}